@import "@/mixins.scss";

.cardFocus {
  background: transparent;
}

.toolContainer {
  @include dFlex(row, flex-end);
  position: absolute;
  width: 100%;
  padding: 0.5rem 0.1rem;
  top: 100%;
  left: 0;
  gap: 1.5rem;

  button {
    --size: 3rem;

    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    font-size: 1.5rem;
    background: #4e2862;
    color: #eee;
  }

  .btnRemove {
    background: orangered;
    color: #222;
  }
}